<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/delivery/src/main/java/com/epages/microservice/handson/delivery/DeliveryApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="RABBITMQ_HOST" value="localhost"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.epages.microservice.handson.delivery.DeliveryApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="delivery"/>
</launchConfiguration>
